<mjml>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-text n:foreach="$data as $item">{$item}</mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
